%fontCanela {
    font-family: 'Canela', sans-serif;
    font-style: normal;
    font-weight: normal;
}

%fontSuisseIntl {
    font-family: 'Suisse Int`l', sans-serif;
    font-style: normal;
    font-weight: normal;
}

%fontManrope {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: normal;
}
