%fontCanela {
    font-family: 'Canela', sans-serif;
    font-style: normal;
    font-weight: normal;
}

%fontSuisseIntl {
    font-family: 'Suisse Int`l', sans-serif;
    font-style: normal;
    font-weight: normal;
}
