.typo-t1 {
    margin: 0;
    font-size: rem(72px);
    font-weight: 100;
    line-height: rem(86px);
    @extend %fontCanela;

    @include mobile {
        font-size: rem(62px);
    }

    @include tablet {
        font-size: rem(100px);
        line-height: rem(108px);
    }
}

.typo-t2 {
    margin: 0;
    line-height: rem(56px);
    font-size: rem(45px);
    font-weight: 300;
    @extend %fontCanela;

    @include tablet {
        line-height: rem(68px);
        font-size: rem(57px);
    }
}

.typo-t3,
h3 {
    margin: 0;
    line-height: rem(36px);
    font-size: rem(30px);
    font-weight: 300;
    @extend %fontCanela;
}

.typo-category {
    text-transform: uppercase;
    line-height: rem(16px);
    font-size: rem(12px);
    letter-spacing: 0.07em;
    @extend %fontManrope;
}

.typo-p {
    font-size: rem(20px);
    font-weight: 300;
    line-height: rem(26px);
    @extend %fontSuisseIntl;

    @include tablet {
        font-size: rem(22px);
        line-height: rem(29px);
    }

    p {
        margin: rem(20px) 0 0;
    }

    small {
        line-height: rem(20px);
        font-size: rem(16px);
    }

    ul {
        margin-top: rem(20px);

        list-style-type: disc;
        list-style-position: inside;
    }
}

.typo-link {
    text-transform: uppercase;
    @extend %fontSuisseIntl;
}
