.reviews {
    &__item {
        position: relative;
        padding: rem(30px) rem(35px) rem(35px);
        border: 1px solid $textcolor;

        @include tablet {
            padding: rem(35px) rem(40px) rem(40px);
        }
    }

    &__infos {
        display: flex;
        align-items: center;
    }

    &__avatar {
        margin-right: rem(13px);
    }

    &__author {
        margin: 0;
        line-height: rem(24px);
        font-size: rem(20px);
        font-weight: 300;
        @extend %fontCanela;

        @include tablet {
            line-height: rem(27px);
            font-size: rem(23px);
        }
    }

    &__company {
        
    }

    &__content {
        margin-top: rem(30px);
    }

    &__link {
        display: block;
        margin-top: rem(30px);
    }
}
